{{ $backlinks := slice }}
{{ $path_base := .page.File.ContentBaseName }}
{{ $path_base_re := printf `["/(]%s["/)]` $path_base }}
{{ $path_base_md := printf "%s.md" $path_base }}
{{ $path_base_re_md := printf `["/(]%s["/)]` $path_base_md }}

{{ range where site.RegularPages "RelPermalink" "ne" .page.RelPermalink }}
  {{ if or (findRE $path_base_re .RawContent 1) (findRE $path_base_re_md .RawContent 1) }}
    {{ $backlinks = $backlinks | append . }}
  {{ end }}
{{ end }}

{{ with $backlinks }}
  <hr>
  <section class="backlinks">
    {{ printf "%s" ($.heading | default "<h2>Links to this note</h2>") | safeHTML }}
    <nav>
      <ul class="markdown">
        {{ range . }}
          <li>
            <a href="{{ .RelPermalink }}">
              {{ partial "docs/title" . }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </section>
{{ end }}
