{{ $thisSection := .Section }}
{{ $diffs := slice "school" "basic" "easy" "medium" "hard" }}

<h1> {{- partial "docs/title.html" . -}} </h1>

<a class="book-btn" href="">Difficulty: {{ humanize (index $diffs .Params.Difficulty) }}</a>

<a class="book-btn" href={{ printf "/programming/practice/#%s" .Parent.Title }}>Topic: {{ .Parent.Title }}</a>

{{ with .PrevInSection }}
  {{ if eq .Section $thisSection }}
  <a class="book-btn" href="{{ .RelPermalink }}">Previous: {{ partial "docs/title.html" . }}</a>
  {{ end }}
{{ end }}

{{ with .NextInSection }}
  {{ if eq .Section $thisSection }}
    <a class="book-btn" href="{{ .RelPermalink }}">Next: {{ partial "docs/title.html" . }}</a>
  {{ end }}
{{ end }}

<hr>
