{{ define "main" }}

{{ $cat := .Title }}
{{ $original_context := . }}

<h1>{{ .Title | humanize }}</h1>

<!-- Show category header if present -->
<!-- Don't show on main categories page -->
{{ $header_md := printf "%s_index.md" .RelPermalink }}
{{ $header_md = strings.TrimPrefix "/categories" $header_md }}
{{ if and (fileExists $header_md) (not (eq .Title "Categories")) }}
  {{ with .Site.GetPage $header_md }}
    {{ .Content | safeHTML }}
    {{ if strings.Contains .Content "#" }}
      <hr>
    {{ end }}

  {{ end }}
{{ end }}

<!-- Collect subcategories into an array. -->
{{ $subcategories := slice }}
{{ range $term, $_ := .Site.Taxonomies}}
  {{ with $.Site.GetPage (printf "/%s" $term | urlize) }}
    {{ if and (ne (len .Pages) 0) (in (lower .Title) (lower $cat)) }}
      {{ $subcategories = $subcategories | append .Title }}
    {{ end }}
  {{ end }}
{{ end }}

<!-- Loop through pages in category to collect "stray" entries:
  those that don't have an associated subcategory. -->
{{ $pages_in_cat := index .Site.Taxonomies.categories $cat }}
{{ $stray_pages := slice }}

{{ range $pages_in_cat.Pages.ByWeight }}
  {{ $is_stray := true }}
  {{ $params := .Params }}

  {{ range $subcategories }}
    {{ if (index $params .) }}
      {{ $is_stray = false }}
    {{ end }}
  {{ end }}

  {{ if $is_stray }}
  {{ $stray_pages = $stray_pages | append . }}
  {{ end }}
{{ end }}

<!-- List everything that does have a subcategory -->
{{ range $subcategories }}
  <!-- Convert name: Programming/Algorithms => Algorithms -->
  {{ $newname := strings.TrimPrefix (lower (printf "%s/" $cat)) (lower .) | humanize}}

  {{ with not (eq $cat "Categories") }}
  <h2 id="{{$newname}}">{{ $newname }}</h2>
  {{ end }}

  {{ with $.Site.GetPage (printf "/%s" . | urlize) }}
    <!-- Loop through all terms in this subcategory -->
    {{ range .Pages }}
    <h4 id="{{ .Title }}"><strong>{{ .Title }} ({{ len .Pages }})</strong></h4>

      <!-- Display all entries for current term in this subcategory -->
      <ul>
      {{ range sort .Paginator.Pages.ByWeight }}
        <li class="markdown">
          <p>
            <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" .}}</a>

            {{ if .Params.Sum }}
            - {{ .Params.Sum }}
            {{ end }}

          </p>
        </li>
      {{ end }}
      </ul>

    {{ end }}
  {{ end }}
{{ end }}

<!-- Now handle stray pages -->
{{ if ne (len $stray_pages) 0 }}
<h2>Untagged</h2>
<ul>
{{ range $stray_pages }}
  <li class="markdown">
    <p>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" .}}</a>

      {{ if .Params.Sum }}
      - {{ .Params.Sum }}
      {{ end }}

    </p>
  </li>
{{ end }}
</ul>
{{ end }}

{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
